.nav_main__parent {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.nav__left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000;
}

.nav__right {
    flex: 1;
    margin-left: 20px;
}

.nav__right>h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

.header-description {
    color: #333;
    font-size: 0.9rem;
    margin: 0 0 8px 0;
}

.header-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    gap: 20px;
}

.header-nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 12px;
}

.header-nav ul li a:hover {
    background-color: #eee;
}

.nav__right_ol {
    padding: 10px 10%;
}

.left__main_nav>nav>ul {
    display: flex;
}

.left__main_nav>nav>ul>li {
    margin: 0px 15px;
    list-style: none;
}

.child-img {
    display: flex;
}

.child-img-card {
    border: solid 1px #00000042;
    display: grid;
    place-content: center;
    margin: 0px 10px;
    padding: 13px 1%;
    width: 145px;
    height: 286px;
    align-items: center;
    align-content: center;
    text-align: center;
}

details {
    margin: 8px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

summary {
    cursor: pointer;
    font-weight: 500;
    color: #000;
}

.summary_p {
    margin: 0;
    padding: 3px 0;
    display: inline;
    color: #333;
}

@media (min-width: 600px) and (max-width: 1200px) {

    .nav__right>h3 {
        font-size: 4.2rem;
    }

    .summary_p {
        font-size: 2.2rem;
    }
}